<html>
<head>
  <title>New User Registration</title>

  <link href="resources/wallstyle.css" rel="stylesheet" type="text/css">
</head>
<body class="wallbody">
<center>
<h1 class="walltitle">New User Registration</h1>
</center>
<br>
<div class="wallitem">
<form action="" method="post">
  <table border="0" cellpadding="8">
    <tbody>
      <tr>
        <td><b>Username:</b></td>
 		<td>#springFormInput('registrationForm.reg_username' 'size="40"')</td>
 		<td>#springShowErrors('' 'errorMsg')</td>
 	  </tr>
 	  <tr>
        <td><b>Password:</b></td>
 		<td>#springFormPasswordInput('registrationForm.reg_password' 'size="40"')</td>
 		<td>#springShowErrors('' 'errorMsg')</td>
      </tr>
      <tr>
    	<td colspan="2" align="center">
    	#springBind('registrationForm.recaptcha_response_field')
    	<script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6Lc_QgUAAAAAAFyWFhYONWN22eeUrgGoF5W7EZ3D"></script>
		</td>
		<td>#springShowErrors('' 'errorMsg')</td>
	  </tr>
      <tr>
        <td colspan="2" align="center"><input name="action" value="Sign Up" type="submit"></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</form>
</div>
<center><a href="wall">Back to the main page</a></center>
</body>
</html>